### 小測驗 -- 把match上的數字印在5x5的方格中

In [8]:
match = read.table("C:/Users/BIG DATA/Desktop/iii-R201603/data/match.txt", sep="|",stringsAsFactors=FALSE)
k = matrix(NA, nrow = 5, ncol = 5)

print(k)

     [,1] [,2] [,3] [,4] [,5]
[1,]   NA   NA   NA   NA   NA
[2,]   NA   NA   NA   NA   NA
[3,]   NA   NA   NA   NA   NA
[4,]   NA   NA   NA   NA   NA
[5,]   NA   NA   NA   NA   NA

### 方法一

In [9]:
count = 1
for(i in 1:5){
  for (e in 1:5){
    if (i == e){
    }else{
    k[e,i]=match[count,3]
    count = count + 1
    }
  }
}

print(k)

     [,1] [,2] [,3] [,4] [,5]
[1,]   NA    2    2    1    1
[2,]    1   NA    0    1    1
[3,]    3    1   NA    2    2
[4,]    2    3    1   NA    3
[5,]    0    0    5    0   NA

### 方法二

In [12]:
m = matrix(NA, nrow = 5, ncol = 5)
colnames(m)=c('A','B','C','D','E')
rownames(m)=c('A','B','C','D','E')
for(n in 1:nrow(match)){
  m[match[n,1],match[n,2]]=match[n,3]
}
print(m)

   A  B  C  D  E
A NA  1  3  2  0
B  2 NA  1  3  0
C  2  0 NA  1  5
D  1  1  2 NA  0
E  1  1  2  3 NA

### cbind的應用

In [15]:
address = data.frame(city=c('Taipei',"Jiayi"),address = c("shilin","taibou"))
x=c('tony','amy','curry','jeff')
contacts = cbind(name=x,address)
contacts

   name   city address
1  tony Taipei  shilin
2   amy  Jiayi  taibou
3 curry Taipei  shilin
4  jeff  Jiayi  taibou

### print ( x ,digits=s,quote=F,right=T)  印出 至少s位數，quote=是否加雙引號，是否靠右

In [17]:
q = seq(from=0,to=3,by=0.5)
t1 = data.frame(Quant=q, Lower=pnorm(-q), Upper=pnorm(q))
z = print(t1,digits = 2, quote = T, right = T)

  Quant    Lower  Upper
1 "0.0" "0.5000" "0.50"
2 "0.5" "0.3085" "0.69"
3 "1.0" "0.1587" "0.84"
4 "1.5" "0.0668" "0.93"
5 "2.0" "0.0228" "0.98"
6 "2.5" "0.0062" "0.99"
7 "3.0" "0.0013" "1.00"

### 輸出檔案，會存在預設路徑

In [21]:
name = "Tony"
cat("My name is", name, "\n", file="filename.txt")

#or

sink("filename.txt")
q = seq(from=0,to=3,by=0.5)
t1 = data.frame(Quant=q, Lower=pnorm(-q), Upper=pnorm(q))
print(t1)
z = print(t1,digits = 2, quote = T, right = T)
cat("The End....")
sink()

  Quant       Lower     Upper
1   0.0 0.500000000 0.5000000
2   0.5 0.308537539 0.6914625
3   1.0 0.158655254 0.8413447
4   1.5 0.066807201 0.9331928
5   2.0 0.022750132 0.9772499
6   2.5 0.006209665 0.9937903
7   3.0 0.001349898 0.9986501
  Quant    Lower  Upper
1 "0.0" "0.5000" "0.50"
2 "0.5" "0.3085" "0.69"
3 "1.0" "0.1587" "0.84"
4 "1.5" "0.0668" "0.93"
5 "2.0" "0.0228" "0.98"
6 "2.5" "0.0062" "0.99"
7 "3.0" "0.0013" "1.00"
The End....

### 使用R時，路徑的斜線要注意要使用"/"，否則就要使用"//"